*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    margin: 0;
    background-image: url(../media/cubes-bg.png);
}

#main-container{
    max-width: 1000px;
    min-height: 100vh;
    margin: auto;
    position: relative;
    background-color: white;
    padding: 10px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.6);
}

.section-title{
	font-size: 1.5em;
	line-height: 2em;
	text-align: center; 
}

#user-details{
	margin-top: 1em;
	width: 100%;
	position: relative;
	line-height: 1.5em;
}

#user-details-keys{
	width: 49%;
	display: inline-block;
	float: left;
	text-align: right;
	margin-bottom: 3em;
}

#user-details-values{
	width: 49%;
	display: inline-block;
	float: right;
	text-align: left;
	margin-bottom: 3em;
}

.booking{
	text-align: center;
	line-height: 2em;
	margin-left: 10px;
	margin-bottom: 4em;
	border-left: 5px solid grey;
}