*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    margin: 0;
    background-image: url(../media/cubes-bg.png);
}

#main-container{
    max-width: 1000px;
    margin: auto;
    position: relative;
    background-image: url("../media/o-bg.png");
    box-shadow: 1px 1px 4px rgba(0,0,0,0.6);
}

#header{
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#logo{
    height: 50px;
    position: absolute;
    left: 30px;
    top: 25px;
    z-index: 2;
}

#logo-base{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    transform: rotate(45deg);
    background-color: rgba(255, 255, 255, 0.8);
}

#header-user{
    position: absolute;
    right: 10px;
    padding-left: 20px;
}

#header-user-dp{
    z-index: 6;
    position: absolute;
    right: 10px;
    top: 20px;
    width: 40px;
    cursor: pointer;
}

#header-user-name{
    position: absolute;
    right: 60px;
    z-index: 6;
    line-height: 80px;
    font-size: 1.1em;
    text-align: right;
}

#header-user-expand{
    overflow: hidden;
    height: 0;
    transition: background-color 1s ease;
}

#header-user-expand input{
    width: 100%;
    border: none;
    background: none;
    text-align: center;
    height: 60px;
    border-top: 1px solid rgba(0,0,0,0.1);
}

#header-user.expand #header-user-expand{
    display: inline-block;    
    width: 100%;
    min-width: 200px;
    height: auto;
    text-align: center;
    padding: 60px 10px 10px 10px;
    position: absolute;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
    right: 0;
    top: 10px;
    z-index: 5;
}

#header-user-expand div{
    line-height: 60px;
    border-top: 1px solid rgba(0,0,0,0.1);
    cursor: pointer;
    width: 100%;
}

#header-user-expand div:hover{
    font-weight: bold;
}

#featured{
    position: relative;
    height: 480px;
    padding-top: 80px;
    color: white;
}

#featured-content{
    margin-top: 20px;
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    width: 450px;
    text-align: justify;
    padding: 40px 50px;
    background-color: rgba(0,0,0,0.8);
}

#featured-content-title{
    position: absolute;
    top: -15px;
    right: 0;
    font-weight: bold;
    font-size: 1.2em;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.9);
    z-index: 4;
}

#featured-content-title-base{
    width: 60px;
    height: 60px;
    position: absolute;
    top: -35px;
    right: -15px;
    transform: rotate(45deg);
    background-color: rgba(240,90,70,0.8);
    z-index: 3;
}

#featured-content-description{
    font-size: 0.9em;
}

#featured-dish{
    position: absolute;
    top: 55%;
    right: 5%;
    transform: translateY(-50%);
    display: inline-block;
    width: 30%;
}

.featured-dish-image{
    position: absolute;
    top: 0;
    width: 100%;
}

#intro{
    padding: 70px 120px;
    text-align: center;
    background-color: #ffffff;
    color: #333333;
    font-size: 0.85em;
}

#highlights{
    position: relative;
    height: 480px;
    background-color: rgba(0,0,0,0.4);
}

#highlights-header{
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2em;
    position: absolute;
    left: 6%;
    top: 70px;
    padding-bottom: 10px;
    padding-right: 120px;
    border-bottom: 4px solid rgba(240, 90, 70, 1);
}

#highlights-tile-1{
    position: absolute;
    top: 160px;
    width: 25%;
    background-color: #ffffff;
    height: 250px;
    left: 6%;
}

#highlights-tile-1-image{
    background-image: url("../media/4.jpg");
    background-position: center bottom;
    background-size: cover;
    height: 200px;
}

#highlights-tile-2{
    position: absolute;
    top: 160px;
    width: 25%;
    background-color: #ffffff;
    height: 250px;
    left: 37%;
}

#highlights-tile-2-image{
    background-image: url("../media/5.jpg");
    background-size: cover;
    height: 200px;
}

#highlights-tile-3{
    position: absolute;
    top: 160px;
    width: 25%;
    background-color: #ffffff;
    height: 250px;
    left: 68%;
}

#highlights-tile-3-image{
    background-image: url("../media/3.jpg");
    background-size: cover;
    height: 200px;
}

.highlights-tile-text{
    text-align: center;
    line-height: 50px;
}

#plans{
    position: relative;
    height: 600px;
    background-color: #ffffff;
}

#booking-modal{
    z-index: 200;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
}

#booking-modal-content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: white;
    padding: 15px 15px;
}

#booking-modal-button{
    cursor: pointer;
    padding: .5em 1em;
    background-color: rgba(240, 90, 70, 1);
    color: white;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

#plans-content{
    position: absolute;
    width: 100%;
    height: 350px;
    background-color: #ffffff;
}

#plans-content-tabs{
    margin-left: -7%;
    padding: 0 10%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#plans-list{
    list-style: none;
}

#plans-list li{
    position: relative;
    padding: 10px 15px;
    font-weight: bold;
    cursor: pointer;
}

#plans-list li.active{
    font-size: 1.1em;
    background-image: url(../media/list-active.png);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}

#plans-content-details{
    position: absolute;
    top: 50%;
    left: 40%;
    padding-right: 6%;
    text-align: justify;
    transform: translateY(-50%);
}

#hide-booking{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: rgba(240, 90, 70, 1);
}

#book-now{
    padding: 0.5em 1em;
    background-color: rgba(240, 90, 70, 1);
    color: white;
    position: absolute;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
}

#plans-images{
    position: absolute;
    top: 350px;
    width: 100%;
}

.plans-images-image{
    float: left;
    width: 25%;
    height: 250px;
    background-size: cover;
    background-position: center center;
}

#plans-images-1{
    background-image: url(../media/1.jpg)
}

#plans-images-2{
    background-image: url(../media/2.jpg)
}

#plans-images-3{
    background-image: url(../media/3.jpg)
}

#plans-images-4{
    background-image: url(../media/4.jpg)
}

#how-it-works-head{
    position: relative;
    background-color: rgba(0,0,0,0.4);
    height: 170px;    
}

#how-it-works-header{
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2em;
    position: absolute;
    left: 6%;
    top: 70px;
    padding-bottom: 10px;
    padding-right: 120px;
    border-bottom: 4px solid rgba(240, 90, 70, 1);
}

#how-it-works{
    color: #dedede;
    padding: 60px;
    background-color: #333333;
    font-size: 0.9em;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-gap: 15px;
}

#how-it-works-info{
    grid-column-start: 1;
    grid-column-end: 4;
}

.process{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 30% 70%;
}

#how-it-works-terms{

}

#contact{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 50% 50%;
    background-color: rgba(0,0,0,0.2);
    padding: 60px;
}

#contact-header{
    margin-right: 50%;
    grid-column-start: 1;
    grid-column-end: 3;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2em;
    /*padding-bottom: 10px;*/
    padding-right: 120px;
    border-bottom: 4px solid rgba(240, 90, 70, 1);
}
#contact-message{
    grid-column-start: 1;
    grid-column-end: 3;
    /*margin-top: 20px;*/
    background: rgba(0,0,0,0.2);
    height: 250px;
    padding: 1em;
    border: none;
    border-bottom: 2px solid;
}

#contact-name, #contact-phone-email{
    padding: 1em;
    /*margin-top: 20px;*/
    background: rgba(0,0,0,0.2);
    border: none;
    border-bottom: 2px solid;
}

/*#contact-name{
    margin-right: 5px;
}

#contact-phone-email{
    margin-left: 5px;
}*/

#contact-name::placeholder, #contact-phone-email::placeholder, #contact-message::placeholder{
    color: black;
}

/*#contact{
    position: relative;
    background-color: rgba(0,0,0,0.2);
}

#contact-content{
    position: relative;
    padding: 160px 6% 60px;
}



#contact-phone-email{
    position: absolute;
    padding: 1em;
    display: inline-block;
    width: 42%;
    left: 52%;
    background: rgba(0,0,0,0.2);
    border: none;
    border-bottom: 2px solid;
}

#contact-message{
    margin-top: 70px;
    width: 100%;
    background: rgba(0,0,0,0.2);
    height: 250px;
    padding: 1em;
    border: none;
    border-bottom: 2px solid;
}*/

#footer{
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 3em 2em;
    background-color: #ffffff;
    text-align: center;
}

#footer-details{
    border-right: 1px solid;
}

#toast{
    display: none;
    max-width: 400px;
    padding: 30px;
    background-color: white;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
    z-index: 1000;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

#toast-icon{
    width: 35px;
    height: 35px;
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
}

#toast-content{
    padding-left: 50px;
}